.node-detail-sub-text {
    color: #6878a6;
    opacity: 0.7;
}
.node-name {
    color: #6878a6;
}

.normal-usage {
    color: #24e32b;
}

.high-usage {
    color: red;
}

.unused {
    opacity: 0.3;
}

.add-server-button {
    color: #6878a6;
    opacity: 0.5;
}