.nav-pills .nav-link {
    background-color: transparent;
    margin: 5px;
    color: #fff;
    font-size: 18px;
    justify-content: center;
    flex-direction: column;
}

.sub-nav-menu-events {
    display: none;
    margin-left: 5%;
}

.master-nav-menu-analyze-log:hover + .sub-nav-menu-events {
    display: block;
}

.sub-nav-menu-events:hover {
    display: block;
}

.sub-nav-menu-add-node {
    display: none;
    margin-left: 5%;
}

.master-nav-menu-manage-node:hover + .sub-nav-menu-add-node {
    display: block;
}

.sub-nav-menu-add-node:hover {
    display: block;
}

.sub-nav-menu-add-service {
    display: none;
    margin-left: 5%;
}

.master-nav-menu-manage-service:hover + .sub-nav-menu-add-service {
    display: block;
}

.sub-nav-menu-add-service:hover {
    display: block;
}

.sub-nav-menu-add-user {
    display: none;
    margin-left: 5%;
}

.master-nav-menu-manage-system:hover + .sub-nav-menu-add-user {
    display: block;
}

.sub-nav-menu-add-user:hover {
    display: block;
}

.selected-sub-menu {
    margin-left: 5%;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    width: auto;
    height: 60px;
    margin: 5px;
    margin-left: 5%;
    color: #fff;
    border-radius: 15px;
    background-color: #5a6b8c;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
}

.dropdown {
    justify-content: center;
}

.btn-primary {
    background-color: transparent;
    margin: 10px;
    justify-content: center;
}

.name-space {
    color: #cedef2;
    font-size: 18px;
    width: 80%;
}